water.json
{
  "name": "water",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        352
      ],
      "id": "761e986f-4893-437f-9450-bae6d66f2b60",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const trigger = items[0].json;\nconst hour = Number(trigger.Hour);\nconst dateKey = String(trigger.timestamp || '').slice(0, 10);\nconst inRange = hour >= 6 && hour <= 22;\nreturn [{ json: { hour, dateKey, inRange, nowIso: trigger.timestamp, timezone: trigger.Timezone } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        352
      ],
      "id": "8dbedcac-6d9e-445a-9e93-76f5b5196845",
      "name": "Build Time Context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.inRange }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1264,
        352
      ],
      "id": "75093304-a49f-432f-8eb1-26d77746d602",
      "name": "If In Reminder Range"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zhuRcufr5WCnw3al",
          "mode": "list",
          "cachedResultName": "water",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/zhuRcufr5WCnw3al"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1056,
        352
      ],
      "id": "ee61411e-e5bd-4da2-8280-e85a509a39eb",
      "name": "Get Water State"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "mplejJEFbLowwZpa",
          "mode": "list",
          "cachedResultName": "water_daily",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/mplejJEFbLowwZpa"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -848,
        352
      ],
      "id": "9e6b40fc-ca5f-47c7-87a8-d8b24d1f5c96",
      "name": "Get Water Daily Records"
    },
    {
      "parameters": {
        "jsCode": "const stateRow = $('Get Water State').first()?.json ?? {};\nconst dailyRows = $('Get Water Daily Records').all().map(i => i.json);\nconst ctx = $('Build Time Context').first().json;\n\nconst today = String(ctx.dateKey);\nconst hour = Number(ctx.hour);\nconst isNewDay = String(stateRow.date_key || '') !== today;\n\nlet no = Number(stateRow.no || 0);\nlet dailyTotal = Number(stateRow.daily_total || 0);\nlet lastMessageId = stateRow.last_message_id ?? '';\n\nif (isNewDay || hour === 6) {\n  no = 0;\n  dailyTotal = 0;\n}\n\nif (hour !== 6) {\n  no += 1;\n}\n\nconst dailyMap = {};\nfor (const row of dailyRows) {\n  if (!row.date_key) continue;\n  dailyMap[String(row.date_key)] = {\n    cups: Number(row.cups || 0),\n    target: Number(row.target || 16),\n    achieved: String(row.achieved || 'no')\n  };\n}\n\nfunction toDate(s) {\n  return new Date(`${s}T00:00:00`);\n}\n\nconst todayDate = toDate(today);\nconst last7 = [];\nfor (let i = 6; i >= 0; i--) {\n  const d = new Date(todayDate);\n  d.setDate(d.getDate() - i);\n  last7.push(d.toISOString().slice(0, 10));\n}\n\nconst todayDaily = dailyMap[today] || { cups: dailyTotal, target: 16, achieved: dailyTotal >= 16 ? 'yes' : 'no' };\nconst todayCups = Number(todayDaily.cups || dailyTotal || 0);\nconst target = Number(todayDaily.target || 16);\n\nlet weekOkDays = 0;\nfor (const key of last7) {\n  const row = dailyMap[key] || { cups: 0, target, achieved: 'no' };\n  const ok = String(row.achieved) === 'yes' || Number(row.cups) >= Number(row.target || target);\n  if (ok) weekOkDays += 1;\n}\n\nconst recent3Marks = [];\nfor (let i = last7.length - 3; i < last7.length; i++) {\n  const key = last7[i];\n  const row = dailyMap[key] || { cups: 0, target, achieved: 'no' };\n  const ok = String(row.achieved) === 'yes' || Number(row.cups) >= Number(row.target || target);\n  recent3Marks.push(ok ? '✅' : '❌');\n}\n\nlet failStreak = 0;\nfor (let i = last7.length - 1; i >= 0; i--) {\n  const key = last7[i];\n  const row = dailyMap[key] || { cups: 0, target, achieved: 'no' };\n  const ok = String(row.achieved) === 'yes' || Number(row.cups) >= Number(row.target || target);\n  if (ok) break;\n  failStreak += 1;\n}\n\nlet level = '💧';\nlet note = '記得補水一下';\nif (no > 5) {\n  level = '🚨🚨🚨';\n  note = '強制提醒：已超過 5 杯，請立刻喝水！';\n} else if (no >= 5) {\n  level = '🚨';\n  note = '已累積很久沒喝水，建議現在先補足';\n} else if (no >= 3) {\n  level = '⚠️';\n  note = '有點久沒喝水了';\n}\n\nlet motivation = '';\nif (todayCups >= target) {\n  motivation = '🏆 今天已達標，繼續保持。';\n} else if (failStreak >= 3) {\n  motivation = `🔥 已連續 ${failStreak} 天未達標，今天至少先補到 ${target} 杯。`;\n} else if (weekOkDays >= 5) {\n  motivation = `🏅 本週已達標 ${weekOkDays}/7 天，再撐一下就很漂亮。`;\n} else {\n  motivation = `再喝 ${Math.max(0, target - todayCups)} 杯，今天就能達標。`;\n}\n\nconst message_text = `${level} 喝水提醒\\n\\n目前應補杯數：${no}\\n今日已喝：${todayCups} / ${target} 杯\\n本週達標：${weekOkDays} / 7 天\\n近三日：${recent3Marks.join(' ')}\\n${note}\\n${motivation}\\n\\n請選擇這次喝了幾杯水`;\n\nreturn [{\n  json: {\n    id: stateRow.id || 1,\n    no,\n    status: no === 0 ? 'drank' : 'waiting',\n    daily_total: todayCups,\n    date_key: today,\n    last_drink_at: stateRow.last_drink_at || '',\n    last_message_id: lastMessageId,\n    target,\n    message_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        352
      ],
      "id": "60f479d8-251c-4a5e-9d65-32b3939c732c",
      "name": "Calc Reminder Weekly"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "zhuRcufr5WCnw3al",
          "mode": "list",
          "cachedResultName": "water",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/zhuRcufr5WCnw3al"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "no": "={{ $json.no }}",
            "status": "={{ $json.status }}",
            "daily_total": "={{ $json.daily_total }}",
            "date_key": "={{ $json.date_key }}",
            "last_drink_at": "={{ $json.last_drink_at }}",
            "last_message_id": "={{ $json.last_message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "no",
              "displayName": "no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "daily_total",
              "displayName": "daily_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_key",
              "displayName": "date_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_drink_at",
              "displayName": "last_drink_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -416,
        352
      ],
      "id": "58906e19-b547-42e2-990e-9fa9e8c7b149",
      "name": "Save Reminder State"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.last_message_id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        352
      ],
      "id": "cff4f114-9d1c-4e33-8831-833768260173",
      "name": "If Has Last Reminder"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "=1026250900",
        "messageId": "={{ $json.last_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        240
      ],
      "id": "1f4f00f7-6496-401f-b79b-2e7ed0718cb1",
      "name": "Delete Old Reminder",
      "webhookId": "99e32909-ace2-4709-ad63-bb71d8b67e3a",
      "credentials": {
        "telegramApi": {
          "id": "qNtOXiWJRGW1TAtt",
          "name": "flight"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=1026250900",
        "text": "={{ $json.message_text || $('Calc Reminder Weekly').item.json.message_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "喝水*1",
                    "additionalFields": {
                      "callback_data": "WATER_1"
                    }
                  },
                  {
                    "text": "喝水*2",
                    "additionalFields": {
                      "callback_data": "WATER_2"
                    }
                  },
                  {
                    "text": "喝水*3",
                    "additionalFields": {
                      "callback_data": "WATER_3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "喝水*4",
                    "additionalFields": {
                      "callback_data": "WATER_4"
                    }
                  },
                  {
                    "text": "喝水*5",
                    "additionalFields": {
                      "callback_data": "WATER_5"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        352
      ],
      "id": "cb02e5dc-9cca-49f0-a26f-517637fdefcc",
      "name": "Send Reminder",
      "webhookId": "325d7a46-c00d-48a2-8c4c-9afc2fd442af",
      "credentials": {
        "telegramApi": {
          "id": "qNtOXiWJRGW1TAtt",
          "name": "flight"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "zhuRcufr5WCnw3al",
          "mode": "list",
          "cachedResultName": "water",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/zhuRcufr5WCnw3al"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Save Reminder State').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_message_id": "={{ $json.message_id ? $json.message_id : $json.result.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        432,
        352
      ],
      "id": "7a248627-8f95-4ad8-853d-7eef95c70596",
      "name": "Save Last Reminder Message Id"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        784
      ],
      "id": "c50ebf34-849c-45b6-a754-abf2b964bdff",
      "name": "Telegram Trigger",
      "webhookId": "153c2c24-319d-4637-9f6e-181e5ad6000a",
      "credentials": {
        "telegramApi": {
          "id": "qNtOXiWJRGW1TAtt",
          "name": "flight"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $json.callback_query?.data || '';\nconst match = data.match(/^WATER_(\\d+)$/);\nif (!match) return [];\nconst drink = Number(match[1]);\nconst chatId = $json.callback_query?.message?.chat?.id;\nconst messageId = $json.callback_query?.message?.message_id;\nconst localNow = new Date(new Date().toLocaleString('en-US', { timeZone: 'Asia/Taipei' }));\nconst yyyy = localNow.getFullYear();\nconst mm = String(localNow.getMonth() + 1).padStart(2, '0');\nconst dd = String(localNow.getDate()).padStart(2, '0');\nconst dateKey = `${yyyy}-${mm}-${dd}`;\nreturn [{ json: { drink, chat_id: chatId, reminder_message_id: messageId, nowIso: new Date().toISOString(), dateKey } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        784
      ],
      "id": "4048eac0-70a7-49a1-8ae0-508e3405c60e",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zhuRcufr5WCnw3al",
          "mode": "list",
          "cachedResultName": "water",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/zhuRcufr5WCnw3al"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1264,
        784
      ],
      "id": "6cd805e7-1a3e-4eec-bb29-3ee70bfab231",
      "name": "Get Water State 2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "mplejJEFbLowwZpa",
          "mode": "list",
          "cachedResultName": "water_daily",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/mplejJEFbLowwZpa"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1056,
        784
      ],
      "id": "eb32d7ed-0135-4765-b442-ab05656b0a1a",
      "name": "Get Water Daily Records 2"
    },
    {
      "parameters": {
        "jsCode": "const stateRow = $('Get Water State 2').first()?.json ?? {};\nconst dailyRows = $('Get Water Daily Records 2').all().map(i => i.json);\nconst cb = $('Parse Callback').first().json;\n\nconst today = String(cb.dateKey);\nconst isNewDay = String(stateRow.date_key || '') !== today;\n\nlet currentNo = Number(stateRow.no || 0);\nlet stateDailyTotal = Number(stateRow.daily_total || 0);\nif (isNewDay) {\n  currentNo = 0;\n  stateDailyTotal = 0;\n}\n\nconst requestedDrink = Number(cb.drink || 1);\n\n// 債務只扣到 0，但紀錄照實加上使用者按的杯數\nconst debtReduction = Math.min(requestedDrink, Math.max(0, currentNo));\nconst nextNo = Math.max(0, currentNo - debtReduction);\n\nconst todayRow = dailyRows.find(r => String(r.date_key || '') === today) || null;\nconst prevCups = todayRow ? Number(todayRow.cups || 0) : stateDailyTotal;\nconst target = todayRow ? Number(todayRow.target || 16) : 16;\n\n// 這裡改成照實記錄 requestedDrink，不再被 currentNo 限制\nconst loggedDrink = requestedDrink;\nconst nextDailyTotal = prevCups + loggedDrink;\nconst achieved = nextDailyTotal >= target ? 'yes' : 'no';\n\nconst confirmText = `✅ 已記錄喝水 ${loggedDrink} 杯\\n目前補杯數已更新為：${nextNo}\\n今日累計：${nextDailyTotal} / ${target} 杯`;\n\nreturn [{\n  json: {\n    id: stateRow.id || 1,\n    no: nextNo,\n    status: nextNo === 0 ? 'drank' : 'waiting',\n    daily_total: nextDailyTotal,\n    date_key: today,\n    last_drink_at: cb.nowIso,\n    last_message_id: stateRow.last_message_id || cb.reminder_message_id || '',\n    reminder_message_id: cb.reminder_message_id,\n    confirm_text: confirmText,\n    cups: nextDailyTotal,\n    target,\n    achieved\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        784
      ],
      "id": "beec8447-499d-46c4-8032-2c6499201709",
      "name": "Calc After Drink Weekly"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "zhuRcufr5WCnw3al",
          "mode": "list",
          "cachedResultName": "water",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/zhuRcufr5WCnw3al"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "no": "={{ $json.no }}",
            "status": "={{ $json.status }}",
            "daily_total": "={{ $json.daily_total }}",
            "date_key": "={{ $json.date_key }}",
            "last_drink_at": "={{ $json.last_drink_at }}",
            "last_message_id": "={{ $json.last_message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "no",
              "displayName": "no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "daily_total",
              "displayName": "daily_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_key",
              "displayName": "date_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_drink_at",
              "displayName": "last_drink_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -624,
        688
      ],
      "id": "b1036150-7e1d-48c6-af18-76fb8633bb06",
      "name": "Save After Drink"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "mplejJEFbLowwZpa",
          "mode": "list",
          "cachedResultName": "water_daily",
          "cachedResultUrl": "/projects/bW6a2DxwuEnRZ3B0/datatables/mplejJEFbLowwZpa"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "date_key",
              "keyValue": "={{ $json.date_key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date_key": "={{ $json.date_key }}",
            "cups": "={{ $json.cups }}",
            "target": "={{ $json.target }}",
            "achieved": "={{ $json.achieved }}"
          },
          "matchingColumns": [
            "date_key"
          ],
          "schema": [
            {
              "id": "date_key",
              "displayName": "date_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cups",
              "displayName": "cups",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "target",
              "displayName": "target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "achieved",
              "displayName": "achieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -416,
        832
      ],
      "id": "053f4b83-1676-461f-a9f3-ea6e6f6a4069",
      "name": "Upsert Water Daily"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "=1026250900",
        "messageId": "={{ $json.reminder_message_id || $json.last_message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        1136
      ],
      "id": "cfe5ed71-5f07-4205-a591-0d391f4236ea",
      "name": "Delete Pressed Reminder",
      "webhookId": "f3bba05e-7119-4ef8-8d7c-f12dc98f68c7",
      "credentials": {
        "telegramApi": {
          "id": "qNtOXiWJRGW1TAtt",
          "name": "flight"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=1026250900",
        "text": "={{ $json.message_text || $('Calc Reminder Weekly').item.json.message_text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "喝水*1",
                    "additionalFields": {
                      "callback_data": "WATER_1"
                    }
                  },
                  {
                    "text": "喝水*2",
                    "additionalFields": {
                      "callback_data": "WATER_2"
                    }
                  },
                  {
                    "text": "喝水*3",
                    "additionalFields": {
                      "callback_data": "WATER_3"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "喝水*4",
                    "additionalFields": {
                      "callback_data": "WATER_4"
                    }
                  },
                  {
                    "text": "喝水*5",
                    "additionalFields": {
                      "callback_data": "WATER_5"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        752
      ],
      "id": "47df3f7d-c454-41e7-80e4-64a80bb5bf1c",
      "name": "Send Reminder1",
      "webhookId": "325d7a46-c00d-48a2-8c4c-9afc2fd442af",
      "credentials": {
        "telegramApi": {
          "id": "qNtOXiWJRGW1TAtt",
          "name": "flight"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Build Time Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Time Context": {
      "main": [
        [
          {
            "node": "If In Reminder Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If In Reminder Range": {
      "main": [
        [
          {
            "node": "Get Water State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Water State": {
      "main": [
        [
          {
            "node": "Get Water Daily Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Water Daily Records": {
      "main": [
        [
          {
            "node": "Calc Reminder Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Reminder Weekly": {
      "main": [
        [
          {
            "node": "Save Reminder State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Reminder State": {
      "main": [
        [
          {
            "node": "If Has Last Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Last Reminder": {
      "main": [
        [
          {
            "node": "Delete Old Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Reminder": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Save Last Reminder Message Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Get Water State 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Water State 2": {
      "main": [
        [
          {
            "node": "Get Water Daily Records 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Water Daily Records 2": {
      "main": [
        [
          {
            "node": "Calc After Drink Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc After Drink Weekly": {
      "main": [
        [
          {
            "node": "Save After Drink",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Water Daily",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Pressed Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save After Drink": {
      "main": [
        [
          {
            "node": "Send Reminder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7236eecd-6ed3-48c2-b6d9-56dee244d5db",
  "meta": {
    "instanceId": "e6457a5df89dea760a6f3a65465dc246491b633bc981e320f79359c75aa90b67"
  },
  "id": "uulQgIJrO2A7S0MJ_pUJN",
  "tags": []
}
